@import "../../../../../variables";

.pass_checkers {
  list-style: none;
  padding-left: 0px;
  li {
    padding: 10px 0px;

    i {
      width: 25px;
      height: 25px;
      text-align: center;
      margin-right: 10px;
      font-size: 0.75rem;
      background: $font-color;
      border-radius: 50%;
      padding: 5px 0px;
      color: #ffffff;
      line-height: 9px;
    }
    &.active {
      color: $font-color-active;
      i {
        color: #ffffff;
        background-color: $color-success;
      }
    }
  }
}
.ptext {
  font-size: 20px;
  color: $font-color-active;
  font-weight: 500;
}
.eye {
  color: $font-color;
}
.pin {
  border: none;
  width: 200px;
  background: repeating-linear-gradient(90deg, $font-color 0, $font-color 35px, transparent 0, transparent 45px) 0 100%/170px
    1px no-repeat;
  font: 40px droid sans mono, consolas, monospace;

  letter-spacing: 23px;
  padding: 6px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.inpt_icn {
  border: none;
  background-color: white;
}
.btm-btns {
  margin: 0px 20px 0px 20px;
}
.m-top {
  margin-top: 50px;
}
.modalstyle {
  width: 20%;
  top: 30%;
  left: 40%;
}

.modal-text {
  margin: 20px;
  color: #42424c;
  font-weight: 300;
  text-align: center;
  position: relative;
  font-size: 24px;
}

.m-t-50 {
  margin-top: 50px;
}

.content_dis1 {
  margin-top: 50%;
  margin-left: 0%;
}
.modal_size {
  width: 350px;
  margin: auto;
  padding-bottom: 50px;
}
.check_div {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 12px;
  img {
    max-width: 100px;
  }
}
.popup_box_shadow {
  //min-height: calc(100vh - 250px);
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-top: 10%;
}
.header_bar {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  //font-weight: 600;
  //color: $font-color-active;
}
.header_para {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: $font-color;
  // font-weight: 400;
  line-height: 1.5rem;
}
.txt_link {
  color: $color-secondary;
  cursor: pointer;
  text-decoration: underline;
  //font-weight: 600;
}
.timer {
  font-weight: 500;
  color: $font-color-active;
}
.m-t-60 {
  margin-top: 60px;
}
.m_t_20 {
  margin-top: 20px;
}
.otp {
  display: block;
  border: none;
  width: 290px;
  background: repeating-linear-gradient(90deg, #000 0, #000 35px, transparent 0, transparent 45px) 0 100%/260px 1px
    no-repeat;
  font: 40px droid sans mono, consolas, monospace;
  letter-spacing: 23px;
  padding: 6px;
  margin: auto;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 576px) {
  .ptext {
    text-align: center;
  }
  // .modalstyle {
  //   width: 74%;
  //   top: 25%;
  //   left: 13%;
  // }
  .mb_5 {
    margin-bottom: 10px;
  }
}
