<div class="text-center" style="margin-top: 10%;">
    <div>
        <img style="width: 100px;" src="../../../../assets/images/close_account_menu.png">
    </div><br>

    <p class="editptext">Are you sure you want to close your account? It's free to keep our basic plan</p><br><br>
    <div class="row mx-3">

        <div class="col-md-6" (click)="closeAccount()">
            <button type="button" class="btn btn-block btn-outline-primary" style="margin-bottom: 10px;">Close
                profile</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-primary" style="margin-bottom: 10px;">Keep profile</button>
        </div>
    </div>

</div>