@import "../../../../variables";
.page_ht_crd {
    height: 100%;
    width: 50%;
    padding: 20px 10px 20px 10px;
    margin-left: 23%;
    box-shadow: 0px 3px 6px #00000029;
    ul {
      a {
        border: none;
      }
    }
  }

  .back_btn {
    margin-top: -50px;
    margin-right: 35px;
  }

  .acc_navbar {
    border-bottom: 1px solid $color-primary;
    background-color: #ffffff;

    li.nav-item {
      width: 50%;
      text-align: center;
      &:focus {
        outline: none;
        user-select: none;
      }

      a.nav-link {
        border-radius: 0px;
        &.active,
        &:hover,
        &:focus {

          background: #ffffff;
          border-bottom: 2px solid $color-secondary;
          opacity: 1;
          outline: none;
        }
      }
      a {
        margin-bottom: -1px;
        color: $font-color;
        //font-weight: 600;
        opacity: 0.6;
        padding: 10px 30px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:focus,
        &:hover,
        &.active {
          border-bottom: 2px solid $color-secondary;
          outline: none;
          opacity: 1;
          background: #ffffff;
          color: $font-color-active;
          //color:$color-secondary;
        }
      }
    }
  }
  .acc_navbar {
    border-bottom: 1px solid $color-primary;
    background-color: #ffffff;

    li.nav-itemP {
      width: 100%;
      text-align: center;
      &:focus {
        outline: none;
        user-select: none;
      }

      a.nav-link {
        border-radius: 0px;
        &.active,
        &:hover,
        &:focus {

          background: #ffffff;
          border-bottom: 2px solid $color-secondary;
          opacity: 1;
          outline: none;
        }
      }
      a {
        margin-bottom: -1px;
        color: $font-color;
        //font-weight: 600;
        opacity: 0.6;
        padding: 10px 30px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:focus,
        &:hover,
        &.active {
          border-bottom: 2px solid $color-secondary;
          outline: none;
          opacity: 1;
          background: #ffffff;
          color: $font-color-active;
          //color:$color-secondary;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .page_ht_crd {
      width: 100%;
      margin-left: 0%;
    }
    .acc_navbar li.nav-item a {
      margin-bottom: -1px;
      color: #aaaabb;
      //font-weight: 600;
      opacity: 0.6;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      padding: 0px 0px;
    }
  }
