<div class="container">
  <div class="additm" data-toggle="modal" data-target="#addActionModal">
    <div class="additm_icn"><i class="fa fa-plus"></i>
    </div>
    <span>Add action</span>
  </div>
  <div class="action_itm_cnt" *ngFor="let x of autoExchangeData">
    <div class="lft_itm" *ngIf="x.exchange_status!= 1">
      <div class="action_icn">
        <i style="color: black;" *ngIf="x.hasOwnProperty('price_alert_id')" class="fa fa-bell"></i>
        <img style="width: 21px;" *ngIf="x.hasOwnProperty('auto_exchange_id')"  src="../../../../../assets/images/cards/Group 877.png">
      </div>
      <div class="action_itm" *ngIf="x?.hasOwnProperty('price_alert_id')">
        <h5 >
          <!-- {{x.from_currency}} {{x.amount}} =
          {{x.to_currency}} {{x.amount * x.target_amount}} -->
          {{x.from_currency}} 1 =
          {{x.to_currency}} {{ x.target_amount}}
        </h5>
        <p *ngIf="x.currency_rate != undefined">Price Alert-Current: {{x.from_currency}} 1 = {{x.to_currency}} {{x.currency_rate}}</p>
      </div>

      <div class="action_itm" *ngIf="x?.hasOwnProperty('auto_exchange_id')">
          <h5 >
            <!-- {{x.from_currency}} {{x.amount}} =
            {{x.to_currency}} {{x.amount * x.target_amount}} -->
            {{x.from_currency}} {{x.amount}} =
            {{x.to_currency}} {{(x.amount * x.target_amount) | number:'1.0-4'}}
          </h5>
          <p >Auto Exchange-Current: {{x.from_currency}} {{x.amount}} = {{x.to_currency}} {{(x.amount * x.currency_rate) | number:'1.0-4'}}</p>
        </div>


    </div>
    <div class="lft_itm" *ngIf="x.exchange_status === 1">
      <div class="action_icn">
        <i *ngIf="x.hasOwnProperty('price_alert_id')" class="fa fa-bell"></i>
        <img *ngIf="x.hasOwnProperty('auto_exchange_id')"  src="../assets/images/cards/golden.png" />
      </div>
      <div class="action_itm">

        <h5>

          {{x.from_currency}} 1 =
          {{x.to_currency}} {{(x.target_amount)}}
        </h5>
        <p> Price Alert-Current: {{x.to_currency}} {{x.currency_rate.toFixed(4)}}</p>
      </div>
    </div>



    <div class="rt_itm">
      <i class="fa fa-trash-o" aria-hidden="true" (click)=deletePriceorautoExchangeRecord(x)></i>
    </div>

  </div>

  <!-- <div class="paginationControl" *ngIf=getAutoAlerts>
    <pagination-controls></pagination-controls>
  </div> -->
  <!--- choose auto Currency Modal -->

  <div class="modal" id="addActionModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

        </div> -->

        <!-- Modal body -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            Choose an action to continue
          </h4>
          <div class="row">
            <div class="col-md-6">
              <div class="card exchng_act_cnt hide-action" (click)=autoExchModal()>
                <div class="img_cnt">
                  <img src="../assets/images/auto-exchange.png" />
                </div>
                <div class="content_cnt">
                  <h5>Auto Exchange</h5>
                  <p>Exchange currencies when they hit a certain value</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card exchng_act_cnt alrt_itm_lne" (click)="autoPriceAlert()">
                <div class="img_cnt">
                  <img src="../assets/images/notifications.png" />
                </div>
                <div class="content_cnt">
                  <h5>Price Alert</h5>
                  <p>We'll let you know when that currency hits that value</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
