<nav class="navbar add-money pull-down" style="background-color: #33A8FF;">
  <h2 style="color:white; padding-left: 175px;padding-top: 30px;">My
    webshop.com</h2>
</nav>
<br><br>
<div class="container" style="padding-left: 5px;">
  <div class="card page_ht_crd1 mx-auto">
    <h6 style="text-align: center" style="color:black; margin-bottom:0.5rem;">Step1. Please, choose your preferred
      payment method </h6><br>
    <span style="font-size: small;color:black">Total amount EUR 24</span><br>
    <div class="row">
      <div style="display:table-cell; vertical-align:middle; text-align:center" class="col-md-2">
        <img width="120" src="../../../../../assets/images/logo2.png">
      </div>
      <div class="col-md-8">
        <h6>PayVoo</h6>
        <span style="font-size: small;">Pay easily with your PayVoo account. You will be redirected to PayVoo <br>to make the payment</span>
      </div>
    </div>
    <div style="padding-right: 20px;">
      <button type="button" class="btn btn-sm1 pull-right btnr" (click)="onClickPay()">Pay</button>
      <br>
    </div>

  </div>

</div>
<br><br>
<div class="container" style="padding-left: 5px;">
  <div class="card page_ht_crd2 mx-auto">
    <h6 style="text-align: center" style="color:black; margin-bottom:0.5rem;">As a next step you will have to enter your
      details
    </h6><br>
    <div>
      <button type="button" class="btn btn-sm btn-outline-secondary pull-left" (click)="goBack()">Go Back</button>
      <br>
    </div>

  </div>

</div>