$font-color: #aaaabb;
$font-teritary: #c9c9d2;
$color-primary: #f37221;
$color-secondary: #2a3477;
$color-success: #1f6a00;
$color-danger: #dc3545;
$body-background: #ffffff;
$font-color-active: #42424c;
