<!-- Change password start -->
<!-- <div class="col-md-12" *ngIf="displayOtp">
    <div class="popup_box_shadow">

        <div class="text-center">
                      <h4 class="header_bar text-center d-inline">Please enter code from the SMS</h4>



            <div class="form-group">
                <div class="m_t_20" *ngIf="textShow">A new confirmation code was sent to <span class="blue1"> +{{this.callingCode}} {{phoneNumber}}</span></div>
                    <p *ngIf='mobileOTPMessage' class="text text-danger error_msgs">{{otpFailMsg}}</p>
                <form #otpValidationForm="ngForm">
                    <input type="text" class="form-control nubmers" id="emailconfirm" name="otp" class="otp"
                        autocomplete="off" [(ngModel)]="mobileOtp" #otp="ngModel" required minlength=6
                        maxlength=6 autofocus="autofocus">
                    <div class="m_t_20 text-center">You can resend the code if it doesn't arrive in <span
                            id="pageBeginCountdownText" class="timer">00:{{timer}}s</span></div>
                    <span *ngIf = "isDisabled" id="resend" [class.disabled-pointer]="isDisabled"
                        (click)="mobileResendLink()"><strong>Resend</strong></span>
                        <div class="m_t_20" *ngIf="textShow">A new confirmation code was sent to <span class="blue1"> +{{this.callingCode}} {{phoneNumber}}</span></div>
                </form>
            </div><br><br>
            <div class="row m-t-50">
                    <div class="col-md-6">
                        <button name="next" id="continue" class="next btn btn-primary btn-block"
                        (click)="changeOtp()"
                        [disabled]="otpValidationForm.invalid">Continue</button>
                    </div>

            </div>

        </div>
    </div>
</div> -->



<!-- OTP Modal poup -->
<div class="modal fade" id="otpModal" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content content_dis2">
      <div class="modal-body otp-modal-size">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="redirect()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

        <div class="row">
          <div class="col-md-12">
            <div class="popup_box_shadow">
              <div *ngIf="displayOtp" class="text-center">
                <h4 class="header_bar text-center d-inline">Please enter code from the SMS</h4>

                <div class="form-group">
                  <div class="m_t_20" *ngIf="textShow">A new confirmation code was sent to <span class="blue1">
                      +{{this.callingCode}} {{phoneNumber}}</span></div>
                  <p *ngIf='mobileOTPMessage' class="text text-danger error_msgs">{{otpFailMsg}}</p>
                  <form #otpValidationForm="ngForm">
                    <input type="text" class="form-control nubmers" id="emailconfirm" name="otp" class="otp"
                      autocomplete="off" [(ngModel)]="mobileOtp" #otp="ngModel" required minlength=6 maxlength=6
                      autofocus="autofocus">
                    <div class="m_t_20 text-center">
                      You can
                      <span *ngIf="isDisabled" id="resend" [class.disabled-pointer]="isDisabled" (click)="mobileResendLink()">
                        <strong>resend</strong>
                      </span>
                      <span *ngIf="!isDisabled">resend</span>
                      the code if it doesn't arrive in
                      <span id="pageBeginCountdownText" class="timer">00:{{timer}}s</span></div>
                  </form>
                </div><br><br>
                <div class="row m-t-50">
                  <div class="col-md-12">
                    <button name="next" class="next btn btn-primary btn-block"
                      (click)="changeOtp()" [disabled]="otpValidationForm.invalid">Continue</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div style="text-align: center;" class="m-t-20">
                  <div class="col-md-auto"><button class="btn btn-primary btn-block" data-dismiss="modal" (click)="redirect()">Continue</button></div>
              </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal poup end -->

<div class="col-md-12" *ngIf="displayPassword">
    <form [formGroup]="changePasswordForm">
        <div class="card page_ht_crd">
            <div class="card add_money_card">
                <h2 class="header_bar text-center">Change password</h2>
               <p *ngIf="detailsList" class="text-center">Change password for {{detailsList.user_id}}</p>
                <div class="form-group float_label">
                    <input type="password" class="form-control" name="password" id="old_password" pattern = "oldpwd"
                    (keydown.space)="$event.preventDefault();" formControlName="old_password" placeholder="&nbsp;">
                    <label for="password"> Current password</label>
                </div>
                <div class="form-group float_label">
                    <input type="password" class="form-control" name="new_password" id="new_password" pattern= "!oldpwd"
                    (keydown.space)="$event.preventDefault();" formControlName="new_password" placeholder="&nbsp;">
                    <label for="password">New password</label>
                </div>
                <!-- <div class="form-group float_label">
                    <input type="password" class="form-control" name="new_password" id="new_password"
                        formControlName="new_password" placeholder="&nbsp;">
                    <label for="password">Confirm new password</label>
                </div> -->
                <div>
                    <button class="inpt_icn fa fa-eye " aria-hidden="true" type="button" onclick="showPassword1()"
                        (click)="showMyContainer=!showMyContainer" *ngIf="!showMyContainer">
                        <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                    </button>
                    <button class="inpt_icn fa fa-eye-slash" aria-hidden="true" type="button" onclick="hidePassword1()"
                        (click)="showMyContainer=!showMyContainer" *ngIf="showMyContainer">
                        <!-- <i class="fa fa-eye-slash" aria-hidden="true"></i> -->
                    </button>
                </div>

                <ul class="pass_checkers">
                    <li [ngClass]="{'active':changePasswordForm.controls['new_password'].errors.minLength}">
                        <i class="fa fa-check"></i> Minimum of 8 characters
                    </li>
                    <li [ngClass]="{'active':changePasswordForm.controls['new_password'].errors.invalidPasswordAlpha}">
                        <i class="fa fa-check"></i> Uppercase and lowercase
                    </li>
                    <li
                        [ngClass]="{'active':checkRegexForAlphaNumeric(changePasswordForm.controls['new_password'].value) && !changePasswordForm.controls['new_password'].errors.specialChara}">
                        <i class="fa fa-check"></i> Letters and numbers
                    </li>
                </ul>
                <div class="row m-t-50 ">
                    <!-- <div class="col-md-6">
                        <button class="btn btn-outline-primary btn-block" routerLink="/home/settings/personal-settings/personal-profile-settings">Cancel</button>
                    </div> -->
                    <div class="col-md-6 offset-md-3">
                        <button name="next" id="step3" class="next btn btn-primary btn-block "
                            [disabled]="!changePasswordForm.controls['new_password'].errors.minLength || !changePasswordForm.controls['new_password'].errors.invalidPasswordAlpha
            || !changePasswordForm.controls['new_password'].errors.invalidPasswordNumbers || changePasswordForm.controls['new_password'].errors.specialChara"
                            (click)="showOtpScreen()"><span
                                role="status" aria-hidden="true"></span>&nbsp;Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Change password end -->
<!-- Modal poup Success alert-->
<div class="modal fade" id="setTargetModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content content_dis1">
            <div class="modal-body modal_size">
                <div class="check_div">
                    <img src="../../../../assets/images/tick_icon.png">
                </div>
                <h5 class="header_bar">Password has been updated successfully</h5>
                <div style="text-align: center;" class="m-t-20">
                    <div class="col-md-auto"><button class="btn btn-primary btn-block" data-dismiss="modal" (click)="redirect()">Done</button></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal poup end -->
