<div class="row">
    <div class="col-12 col-md-6 pt-3 pb-5 bullet-points-section">
        <div class="ml-7 mt-5 conatiner-with-padding">
            <h4>Fair and fast international payments</h4>

            <div class="benefits-list mt-5">
                <h6>Fully digital onboarding</h6>
                <ul>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> eKYC</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> eKYB</li>
                </ul>
            </div>

            <div class="benefits-list">
                <h6>Accounts</h6>
                <ul>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Multiple currency accounts</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Currency exchanges</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Add money with a card or bank transfer</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Transaction history</li>
                </ul>
            </div>

            <div class="benefits-list">
                <h6>Analytics</h6>
                <ul>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Categorization of spending per currency
                        account, spending
                        category, country, merchant, etc.</li>
                </ul>
            </div>

            <div class="benefits-list">
                <h6>Payments</h6>
                <ul>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Sending and Requesting money</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Sending bulk payments</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Sending money to bank accounts</li>
                </ul>
            </div>

            <div class="benefits-list">
                <h6>Analytics</h6>
                <ul>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Ordering physical and virtual cards</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Freezing / unfreezing of physical and
                        virtual cards</li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Modifying cards' PIN and Security options
                    </li>
                    <li> <i class="fa fa-check pr-2" aria-hidden="true"></i> Other settings - spending limits, removing
                        cards, etc</li>
                </ul>
            </div>


        </div>
    </div>
    <div class="col-12 col-md-6 pt-3 pb-5 logo">
        <div class="co-12 sender-info">
            <div class="content2">
                <div class="input_element1">
                    <img width="100%" style="margin-bottom: 50px;  width: 135% "src="../../../../assets/images/logo2.png">
                    <!-- <p class="mb-5" style="font-size: 3rem">
                        <span style="color:#2A3477;font-weight: 600;">Pay</span>
                        <span style="color: #F37221;font-weight: 600;">Voo</span>
                    </p> -->
                </div>
            </div>
            <div class="amount">The amount of {{ transaction?.amount | currency: transaction?.currency}} awaits you</div>
        </div>
        <div class="whatNext">
            <div>What is next?</div>
            <br>
        <div>
            1. Download the app or Sign up <span style="color: #1c88e8;cursor: pointer;" (click)="signup()">www.payvoo.in</span><br>
            <img src="../../assets/images/androidicon.png" style="width:35px;cursor:pointer;margin-left: 15px;margin-top: 6px;">&nbsp;&nbsp;
            <img src="../../assets/images/iosicon.png" style="width:35px;cursor:pointer">
        </div>
            <br>
        <div>
            2. Confirm your identity <br>
            <p style="color: #a5a5aa">Confirm your identity with a selfie and a quick <br>
            picture of your ID document</p>
        </div>
        <div>
            3. Send money <br>
            <p style="color: #a5a5aa">The amount of {{ transaction?.amount | currency: transaction?.currency}} awaits you!</p>
        </div>
        </div>
    </div>
</div>