<div style="padding-right: 50px;" class="pull-right d-inline back_btn">
    <div *ngIf="isPersonal">
    <a routerLink="/personal/payments"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
    <div *ngIf="!isPersonal">
      <a routerLink="/business/payments"><i class="fa fa-arrow-left"></i> Back</a>
      </div>
  </div>
  <div class="container card page_ht_crd">
    <form [formGroup]="passwordForm">
      <fieldset class="text-center">
        <h4 class="header_bar">Please enter password</h4>
        <div class="form-group float_label">        
              <input [type]="type" class="form-control" placeholder="&nbsp;" autocomplete="off" required="required"
              formControlName="password" (keydown.space)="$event.preventDefault();">
              <i *ngIf="eye" class="fa fa-eye pull-right p-eye" style="margin-top: -25px;" (click)="eyeHide()"></i>
              <i *ngIf="slasheye" class="fa fa-eye-slash pull-right p-eye" style="margin-top: -25px;" (click)="eyeHide()"></i>
            
            </div>
          <!-- <span class="txt_link"  [class.disabled-pointer]="isDisabled" (click)="mobileResendLink()">Resend</span> -->
        
        <div class="row mrgin_btm">
          <div class="col-md-6 mx-auto" *ngIf="name == 'counterParty'">
              <button name="next" (click)="verifyPassword(passwordForm.controls['password'].value, busamount)"
               [disabled]="passwordForm.controls['password'].invalid" class="next btn btn-primary btn-block m-t-50">Continue</button>
            </div>
              <div class="col-md-6 mx-auto" *ngIf="name == 'single'">
                <button (click)="verifyPassword(passwordForm.controls['password'].value, busamount)"
                 [disabled]="passwordForm.controls['password'].invalid" name="next" class="next btn btn-primary btn-block m-t-50">Continue</button>
              </div>
              <div class="col-md-6 mx-auto" *ngIf="name == 'bulk'">
                <button (click)="verifyPassword(passwordForm.controls['password'].value, busamount)"
                 [disabled]="passwordForm.controls['password'].invalid" name="next" class="next btn btn-primary btn-block m-t-50">Continue</button>
              </div>
        </div>
      </fieldset>
    </form>
  </div>

  <ng-template #busamount>
    <div class="modal-content">
       <div class="modal-body modal_size moda-to">
          <div class="check_div">
             <img src="../../../../assets/images/tick_icon.png">
          </div>
          <h4 class="header_bar">Successfully sent</h4>
          <div class="header_para dark">
             <span *ngIf="bankCurrency">{{bankCurrency}} {{amountSent}}</span>
             <span *ngIf="!bankCurrency">{{euroCurrency}} {{amountSent}}</span>
             to {{counterPartyMember.full_name | titlecase}}
          </div>
          <div style="text-align: center;">
             <button class="btn btn-primary w-50" (click)="continue()">Done</button>
          </div>
       </div>
    </div>
  </ng-template>
  <div class="modal fade" id="sentNonPayvooUser" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="margin-left: 31%; margin-top: -3%">
      <div class="modal-content" style="margin: 20px; width: 100%; padding: 10px">
        <div class="modal-body body_popup">
          <div class="wip-container text-center bg-white">
            <img class="wip-img" src="assets/images/payvoo-wip.png" />
            <p style="color:black"><strong>
              Send this link to {{ counterPartyMember.full_name }} and the counterparty can receive {{bankCurrency}} {{ amountSent }} from it.
            </strong></p>
            <p>
              <a href="{{uniqueLinkToPayNonPayvooUser}}" target="_blank">{{uniqueLinkToPayNonPayvooUser}}</a>
            </p>
            <button class="btn btn-primary btn-block" data-dismiss="modal" (click)="onOk()">Send link </button>
          </div>
        </div>
      </div>
    </div>
  </div>