@import "../../../../variables";


.check_div {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 12px;
    img {
      max-width: 100px;
    }
  }

  .header_bar {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
    color: $font-color-active;
  }
  
  .header_para {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: $font-color;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .w-50 {
    width: 30% !important;
  }
  .wip-img {
    width: 100px;
    margin-bottom: 10px;
  }
  