<div class="container" style="margin-top:2%;">
    <div class="card page_ht_crd1 mx-auto">
      <div style="text-align:left; margin-top:2%;">
        <div class="col-md-12">
          <img width="80" src="../../../../../assets/images/main-logo.png"> 
        </div><hr>
        <div class="text-center" style="line-height: 10px;">
            <div class="check_div"> 
                <img src="../../../assets/images/success.png">
            </div>
            <h5>You paid &euro;24,00 EUR</h5>
            <p>to the merchant</p>
        </div>
        <div class="container text-center">
            <a href="" data-toggle="collapse" data-target="#demo">Details</a><br><br>
            <div id="demo" class="collapse">
                <table class="table"> 
                    <tbody>
                        <tr>
                            <td>Orchidacea</td>
                            <td>24,00 EUR</td>
                          </tr>
                          <tr>
                            <td>Total Amount</td>
                            <td>24,00 EUR</td>
                          </tr>
                          <tr style="font-weight: bold;color:rgb(34, 32, 32)">
                            <td>Total</td>
                            <td>24,00 EUR</td>
                          </tr>
                    </tbody>
                  </table>
            </div>
          </div>
          <div style="padding-left: 10px;line-height: 5px;">
            <p style="font-weight: bold;color:#42424c">Paid with</p>
            <div class="row">
                <div class="col-md-8">
                    <p>Visa x-4334</p>
                </div>
                <div class="col-md-4">
                    <p>&euro;24,00 EUR</p>
                </div>
            </div>
            <p style="font-size: small;">This transaction will appear on yout statement as Payvoo Demoportals</p>
            <p style="font-weight: bold;color:#42424c">Purchase details</p>
            <p style="font-size: small;">Receipt number: 1GY03504RF9056456</p>
            <p style="font-size: small;">We'll send confirmation to: db_buyer@payvoo.com</p>
            <p style="font-weight: bold;color:#42424c">Merchant details</p>
            <p style="font-size: small;">Demo Portal's Test Store</p>
            <p style="font-size: small;">dp_us_ec@payvoo.com</p>
        </div>
      </div><br>
      <button type="button" style="margin-left: 80px; margin-right: 80px;" class="btn btn-primary btn-sm" (click)="returnMerchant()">Return to Merchant</button>
    </div>
  </div>