.page_ht_crd1 {
    height: 95vh;
    width: 40%;
    padding: 15px 10px 15px 10px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 3px 6px #00000029;
  }
  .btn-outline-primary {
    border: 1px solid #f37221;
    color: black !important;
    background: none;
  }
  .table tbody tr td {
      padding: 0;
  }