<div class="container-fluid page_container">
    <div class="page_header">
        <div class="header">
            Accounts
        </div>
        <ul>
            <li>
              <a routerLink="/personal/accounts/getaccount" *ngIf="authService.accountMatch(['personal'])">Accounts</a>
              <a routerLink="/business/accounts/getaccount" *ngIf="authService.accountMatch(['business'])">Accounts</a>
            </li>
        </ul>
    </div>
    <div class="pull-right m-t-10" *ngIf="authService.accountMatch(['business'])">
        <button type="button" class="btn btn-primary  m-r-15" onclick="cameraIdentification()" (click)="checkKycToAddMoney('/business/add-money');" routerLinkActive="active"><i
                class="fa fa-plus"></i>
           <span class="mob_hid">&nbsp;Add Money</span></button>
           <!-- <button type="button" class="btn btn-primary  m-r-15" onclick="cameraIdentification()" (click)="getApp()" routerLinkActive="active"><i
            class="fa fa-plus"></i>
       <span class="mob_hid">&nbsp;Add Money</span></button> -->
        <button type="button" class="btn btn-primary  m-r-15" onclick="cameraIdentification()" (click)="checkKycToExchange('/business/exchange/rates')"   routerLinkActive="active"><img style="width:25px; margin-top: -4px;" src="../../../../assets/images/exchange icon.png">
                <span class="mob_hid">&nbsp;Exchange</span></button>
        <!-- <button type="button" class="btn btn-primary " (click)="goToExcahnges('/home/payments')"><i class="fa fa-arrow-right"></i>
            <span class="mob_hid">&nbsp;Send</span></button>  -->
            <button type="button" class="btn btn-primary " onclick="cameraIdentification()" (click)="checkKycToSend('/business/payments/payment-type')"><i class="fa fa-arrow-right"></i>
            <span class="mob_hid">&nbsp;Send</span></button>
    </div>
    <div class="pull-right m-t-10" *ngIf="authService.accountMatch(['personal'])">
            <button type="button" class="btn btn-primary  m-r-15" onclick="cameraIdentification()" (click)="checkKycToAddMoney('/personal/add-money')" routerLinkActive="active"><i
                    class="fa fa-plus"></i>
               <span class="mob_hid">&nbsp;Add Money</span></button>
            <button type="button" class="btn btn-primary  m-r-15" onclick="cameraIdentification()" (click)="checkKycToExchange('/personal/exchange/rates')"   routerLinkActive="active"> 
              <img style="width:25px; margin-top: -4px;" src="../../../../assets/images/exchange icon.png">
                    <span class="mob_hid">&nbsp;Exchange</span></button>
            <!-- <button type="button" class="btn btn-primary " (click)="goToExcahnges('/home/payments')"><i class="fa fa-arrow-right"></i>
                <span class="mob_hid">&nbsp;Send</span></button> -->
                <button type="button" class="btn btn-primary " onclick="cameraIdentification()" (click)="checkKycToSend('/personal/payments/payment-type')"><i class="fa fa-arrow-right"></i>
                  <span class="mob_hid">&nbsp;Send</span></button>
        </div>
    <div>
        <nav class="navbar navbar-expand-sm acc_navbar"  *ngIf="authService.accountMatch(['business'])">
            <ul class="navbar-nav">
                <li routerLink="/business/accounts/getaccount" class="nav-item"  routerLinkActive="active">
                    <a class="nav-link">Accounts</a>
                </li>
                <li routerLink="/business/accounts/transactions" class="nav-item"  routerLinkActive="active">
                    <a class="nav-link">Transactions</a>
                </li>
                <li data-toggle="modal" data-target="#appWarn"  class="nav-item"  routerLinkActive="active">
                  <a class="nav-link">Scheduled transactions</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-sm acc_navbar"  *ngIf="authService.accountMatch(['personal'])">
                <ul class="navbar-nav">
                    <li routerLink="/personal/accounts/getaccount" class="nav-item"  routerLinkActive="active">
                        <a class="nav-link">Accounts</a>
                    </li>
                    <li routerLink="/personal/accounts/transactions" class="nav-item"  routerLinkActive="active">
                        <a class="nav-link">Transactions</a>
                    </li>
                    <li  data-toggle="modal" data-target="#appWarn"  class="nav-item"  routerLinkActive="active">
                      <a class="nav-link">Scheduled transactions</a>
                    </li>
                </ul>
        </nav>
    </div>

</div>
<div class="modal fade" id="kyc_warn" role="dialog" style="margin-left: 10px;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content fontbtn">
      <div class="modal-body body_popup">
        <div class="add_money">
          <!-- <img src="../../../../../assets/images/addicon.png" alt="path not correct" /> -->
          <h4 style="text-align: center;">Verify your identity</h4>
          <p style="text-align: center;">Please, verify your identity in order to be able to use the payments functionalities of PayVoo</p>
          <div class="row">
            <div style="padding-bottom: 8px;" class="col-md-6">
              <button class="btn btn-outline-primary btn-block"  data-dismiss="modal">I'll do it later</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block"  (click)="gotoProfilePage()" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="modal invitemodal" id="myModal2" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal_size">
          <div class="modal-content fontbtn">
            <div class="modal-body">

              <div class="col-lg-12"> <button type="button" class="close" data-dismiss="modal">&times;</button><br>
                <h4 class="modal-title header_txt text-center">Please, choose how to complete your identity verification</h4>
                <div class="d-flex flexborder">
                    <div class="p-2  align-self-center">
                      <span class="itm_crcl"><img src="../../../../assets/images/webcam.png"></span>
                    </div>
                    <div class="p-2" (click)="webCamera()" data-dismiss="modal">
                      <p class="m-b-0 kyc_process">Use webcam</p>
                      <small>Make sure it supports high resolution</small>
                    </div>
                  </div>
                  <div class="d-flex flexborder">
                    <div class="p-2  align-self-center">
                      <span class="itm_crcl"><img src="../../../../assets/images/smartphone.png"></span>
                    </div>
                    <div class="p-2">
                      <p class="m-b-0 kyc_process">Use mobile camera through browser</p>
                      <small>You will receive a link on your registered e-mail</small>
                      <div  id="demo" class="collapse">
                        <button  (click)="sendInvitationAlert('android')" data-dismiss="modal"><img
                        src="../../assets/images/androidicon.png" style=width:35px;;></button> or
                        <button  (click)="sendInvitationAlert('ios')" data-dismiss="modal"><img src="../../assets/images/iosicon.png"
                        style=width:35px;;></button>
                       </div>
                    </div>
                    <div class="ml-auto p-2  align-self-center" data-toggle="collapse" data-target="#demo">
                      <i class="fa fa-angle-right kyc_process" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                  <div class="d-flex   flexborder">
                    <div class="p-2  align-self-center">
                      <span class="itm_crcl"><img src="../../../../assets/images/smartphonedwnld.png"></span>
                    </div>
                    <div class="p-2 ">
                      <p class="m-b-0 kyc_process">Install PayVoo app</p>
                      <small>Think long term. Download PayVoo app now on your Android/iOS device</small>
                    </div>
                  </div>

                  <div class="row justify-content-center m-t-10">
                      <div style="padding-bottom: 8px;" class="col-md-6 col-sm-6">
                        <div (mouseover)="gplay=true" *ngIf="!gplay"><button type="button" (click)="getApp()" class="btn btn-block btn-primary">
                            <span style="margin-left: -15px;"><img style="padding-bottom: 2px;" src="../../../../assets/images/google-play.png"></span>&nbsp;Get it on Google Play</button></div>
                        <div (mouseout)="gplay=false" *ngIf="gplay"><button type="button" (click)="getApp()"
                            class="btn btn-block btn-outline-primary1">
                            <span style="margin-left: -15px;"><img style="padding-bottom: 2px;" src="../../../../assets/images/playstore.png"></span>&nbsp;Get it on Google Play</button></div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div (mouseover)="ios=true" *ngIf="!ios"><button type="button" (click)="getApp()" class="btn btn-block btn-primary">
                            <span style="margin-left: -15px;"><img style="padding-bottom: 2px;" src="../../../../assets/images/app-store.png"></span>&nbsp;Get it on App Store
                          </button></div>
                        <div (mouseout)="ios=false" *ngIf="ios"><button type="button" (click)="getApp()" class="btn btn-block btn-outline-primary1">
                            <span style="margin-left: -15px;"><img style="padding-bottom: 2px;" src="../../../../assets/images/app-store_1.png"></span>&nbsp;Get it on App Store
                          </button></div>

                      </div>
                    </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="modal fade" id="appWarn" role="dialog">
  <div class="modal-dialog modal-dialog-centered" style="margin-left: 31%; margin-top: -3%">
    <div class="modal-content" style="margin: 20px; width: 100%; padding: 10px">
      <div class="modal-body body_popup">
      <div class="wip-container text-center bg-white">
          <img class="wip-img" src="assets/images/payvoo-wip.png" />
          <p style="color:black"><strong>We are getting this feature ready. We will notify you when it is done.</strong></p>
          <button  style="border-radius:4px" class="btn btn-primary btn-block" data-dismiss="modal" (click)="hideOk()" >OK </button>
          </div>
          </div>
        </div>
</div>
</div>


    <router-outlet></router-outlet>



<!-- <div class="modal fade" id="appWarn2" role="dialog">
  <div class="modal-dialog modal-dialog-centered" style="margin-left: 31%; margin-top: -3%">
    <div class="modal-content" style="margin: 20px; width: 100%; padding: 10px">
      <div class="modal-body body_popup">
      <div class="wip-container text-center bg-white">
          <img class="wip-img" src="assets/images/payvoo-wip.png" />
          <p style="color:black"><strong>We are getting this feature ready. We will notify you when it is done.</strong></p>
          <button  class="btn btn-primary btn-block" data-dismiss="modal" (click)="hideOk()" >OK </button>
          </div>
          </div>
        </div>
</div>
</div> -->

<div class="modal fade" id="kycverify_warn" role="dialog">
  <div class="modal-dialog modal-dialog-centered" style="margin-left: 38%; margin-top: -9%">
    <div class="modal-content">
      <div class="modal-body body_popup">
        <div class="add_money">
          <h4 style="text-align: center;">Alert</h4>
          <p style="text-align: center;">Please, make sure that the person is ready with the identity document and
            completes the KYC in next 30 minutes.</p>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-block"  data-dismiss="modal">I'll do it later</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" (click)="KYClinkToMobile(platform_type)" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

