<div class="container">
    <div class="col-lg-12">
        <div class="dropdown-content"   [style.overflow]="'auto'" [style.height.px]="'500'"><br>
            <h5 id="heading">Change language</h5><br>
            <div class="ctry_cnt" >
            <table class="ctry_lst">
                <tr   *ngFor="let item of countryData"[class.selected]="item===selectedItem" (click)="save_outage_item(item)"data-toggle="modal"
                    data-target="#exampleModalCenter" >
                    <td style="border-radius: 50px;" >
                        <img src="{{item.country_flag_img_path}}" width="50" style="padding-bottom: 5px;padding-top:5px; " >&nbsp;&nbsp;&nbsp;<h6 id="heading"  style="display: inline;" [style.background-color]="getStyle()">{{item.country_name}}</h6>
                    </td>
                    <!-- <div class="ctry_crncy_cnt">

                        <h5 id="heading"><div class="ctry_title">{{item.country_name}}</div></h5>
                    </div> -->

                </tr>
            </table>
        </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class=" modal-body text-center">
                    <div class="cnf_cnt">
                        <div *ngIf="selectedItem" class="cnf_title">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            You have selected:&nbsp;<h2 ><strong>{{selectedItem.country_name}}</strong></h2><img src="{{selectedItem.country_flag_img_path}}" width="90"><br>
                        </div>
                        <div class="cnf_img_cnt">

                        </div>
                        <form #cfb="ngForm">
                            <p>Would you like to change the language ?</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-block btn-outline-primary"
                                            data-dismiss="modal"(click)="deSelectLanguage()" >Cancel</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block"
                                            data-dismiss="modal">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
